@import url('https://fonts.cdnfonts.com/css/coolvetica');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body,html,.bg-div,.body,.login,.flex-column{
  min-height: 100vh;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(270deg,rgba(43,43,43,0),#212121),linear-gradient(180deg,rgba(43,43,43,.6),rgba(43,43,43,.6)),url("https://uploads-ssl.webflow.com/60dcc4691817e11aa93685ab/636cf5b134d44a7c0953ac37_sobre.webp");
  background-position: 0 0,0 0,0 0;
  background-size: auto,auto,cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cor-logo {
  background-color: #54C5CE !important;
}

.font-padrao-titulo {
  font-family: 'Coolvetica', sans-serif;
  letter-spacing: 0.1rem;
}

.fv-help-block {
  color:#dc3545;
}

input {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #333 !important;
  border-radius: 0 !important;
}

.fs-6, input, button, th, td {
  font-family: 'Source Sans Pro', sans-serif !important;
}

td {
  padding: 1rem 0.5rem 0.5rem 0.5rem !important;
}

a.nav-link {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color:#54C5CE !important;
}

.navbar-collapse {
  justify-content: end;
  margin-top: 10px;
}

.nav-link + .nav-link {
  margin-left: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-light-opacity {
  background-color: white;
  opacity: 95%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media screen and (max-width: 1396px) {
  .rights{
    display: none;
  }
}

.btn-form {
  display: flex;
  align-items: center;
  background-color: #424242 !important;
  color: white !important;
}

svg {
  margin-left: 6px;
}

.background-header {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 14px;
}

.footer {
    position:relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hf-spacing {
  padding-top: 80px !important;
  padding-bottom: 65px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-search {
  padding-bottom: 8px;
  padding-left: 2px;
}

.input-search {
  width: 200px;
  background: url(images/search.png) no-repeat;
  background-position: 170px;
  background-size: 25px;
}

.Margin {
  margin: 20px;
}

.pagination {
  display: flex;
  margin-top: 1rem;
}

.pagination li {
  margin: 0 0.5rem;
  list-style: none;
}

.pagination li a {
  color: #54C5CE;
  text-decoration: none;
}

.pagination li.active a {
  border-bottom: 2px solid #212529
}