.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape a {
  font-size: 20px;
  color: #1e161a;
}

.rodape a:hover {
  color: #2a6266;
  transition: .2s;
}

.caixa{
  flex-shrink: 0;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);

  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.colStyle {
  margin: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECECEC;
  width: 250px;
  height: 250px;
  margin: 50px;
  padding: 30px;
  padding-left: 5px;
}
