.background-login {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 14px;
  /* height: 100%; */
  align-items: center;
  display: flex;
  margin-left: auto;
}

.label{
font-family: 'Coolvetica', sans-serif;
letter-spacing: 0.1rem;
}

.btn-login{
  display: flex;
  align-items: center;
  background-color: #424242 !important;
  color: white !important;
  font-family: 'Coolvetica', sans-serif !important;
  letter-spacing: 0.1rem;
}
.logo-login{
width: 50% !important;
margin-bottom: 5%;
margin-left: 3% !important;
}
.card,.input-login{
  background-color: #54C5CE !important;
  padding: 2px !important;
}
.input-login:-webkit-autofill,
.input-login:-webkit-autofill:hover,
.input-login:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0 30px #54C5CE inset;
}
a{
font-family: 'Coolvetica', sans-serif;
letter-spacing: 0.1rem;

}
a:link, a:visited {
  color: black;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.responsive-navbar-nav .dropdown a:link, a:visited {
  text-align: left;
}

a:hover, a:active {
color: white;
}


.rowLogin{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));

  flex-shrink: 0;
 
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}