@media (max-width: 1240px){
	.responsivo{
		width: 100px;
		height: 100px;
	}
	
}

@media (max-width: 2000px){
	.respLog{
		width: 60%;
		height: 100px;
	}
	
}

@media (max-width: 600px){
	.responsivo{
		width: 50px;
		height: 50px;
	}
	.resp{
		width: 90px;
		height: 60px;
		margin-left: -20px;
		margin-right: 20px;
	}

	.respLog{
		width: 100%;
	}
	.logo{
		width: 100%;
	}

	.kanban{
		width: 20%;
		height: 20%;
	}
}